* {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

.wrapper {
  padding: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgba(17, 17, 17, 0.836);
}

p {
  color: #555;
}

h2 {
  text-align: center;
  color: #555;
  text-transform: uppercase;
  border-bottom: 1px solid #555;
  padding-bottom: 1em;
  width: 50%;
  margin: 2em auto 1em auto;
}

/* Exemple du ciblage de plusieurs éléments pour un même ensemble de propriétés */
h4,
h5,
h6 {
  text-decoration: underline;
}

header {
  height: 40px;
}

header .logo {
  font-size: 3em;
  float: left;
  width: 10%;
}

header .navigation {
  float: left;
  width: 75%;
  padding: 0;
  text-align: center;
}

header .navigation li {
  display: inline;
  padding: 0 0.5em 0 0.5em; /* 4 valeurs = haut droite bas gauche */
  /* on pourrait aussi écrire  padding: 0 0.5em;*/
}

header .navigation li a {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}

header .toolbar {
  width: 15%;
  float: left;
  text-align: right;
  margin-top: 0.6em;
}

header .toolbar .fa-shopping-basket {
  font-size: 1.3em;
}

.basket {
  position: relative;
}

.basketQuantity {
  background-color: rgb(214, 25, 25);
  color: #fff;
  padding: 0.15em 0.42em;
  border-radius: 50%;
  font-size: 0.8em;
  position: absolute;
  top: -16px;
  right: -9px;
  display: none;
}

.showBasketQuantity {
  display: inline;
}

header .toolbar .connexion {
  margin-right: 0.5em;
  font-size: 0.8em;
}

/* .monelement => ciblage via la class
#monelement => ciblage via l'id */
#banner {
  background-image: url("/images/cowboy-bike.jpg");
  background-size: cover;
  height: 75vh;
}

#banner h1 {
  background-color: rgba(255, 255, 255, 0.342);
  padding: 1em;
  text-align: center;
}

#banner h1 a,
#banner h1 a i {
  transition: color 0.8s, background-color 0.3s;
}

#banner h1 a:hover,
#banner h1 a:hover i {
  text-decoration: none;
  background-color: #111;
  color: #fff;
}

.product-list {
  padding: 1em;
}

.product-list .product {
  width: calc(88% / 3);
  float: left;
  margin: 2%;
}

.product-list .product img {
  width: 100%;
  transition: opacity 0.3s;
}

.product-list .product img:hover {
  opacity: 0.5;
}

#product-infos h1 {
  font-size: 2.5em;
}

#product-infos .description {
  text-align: justify;
  font-size: 0.9em;
}

.big-text {
  font-size: 1.5em;
}

.price {
  color: rgb(214, 25, 25);
  font-weight: bold;
}

.buttons {
  padding-top: 2em;
}

.button {
  font-size: 0.8em;
  background-color: #111;
  color: #fff;
  padding: 0.9em;
  border-radius: 50px;
  transition: background-color 0.2s, padding 0.2s;
}

.button i {
  color: #fff;
  margin-right: 0.3em;
}

.button:hover {
  text-decoration: none;
  background-color: rgba(17, 17, 17, 0.829);
  color: #fff;
  padding: 1.1em;
}

/*
On souhaite mettre en place un effet au survol des boutons du site
1. Cibler les boutons au survol
2. Appliquer un nouveau background-color (au survol)
3. Mettre en place une transition (animation) de 0.2s
*/

.both {
  clear: both;
}

#product-details {
  padding: 3em 0;
}

#product-details img {
  float: left;
  width: 50%;
  border-radius: 50px;
}

#product-details #product-infos {
  float: left;
  width: 47%;
  padding-left: 3%;
}

footer {
  background-color: #111;
  padding: 3em 2em 4em 2em;
}

#copyright {
  color: #555;
  float: left;
  width: 80%;
  font-size: 0.9em;
}

footer .social {
  float: left;
  width: 20%;
  margin: 0;
  padding: 0;
  text-align: right;
}

footer .social li {
  display: inline;
  margin-left: 0.5em;
}

footer .social li a i {
  color: #555;
  font-size: 1.5em;
}

.burger-menu-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5em;
  padding: 0.3em;
}

#menu-responsive {
  background-color: rgba(255, 255, 255, 0.911);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: solid 4px #111;
  text-align: center;
  display: none;
}

#menu-responsive ul {
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 2.5em;
  padding: 3em;
}

#menu-responsive ul i {
  margin-right: 0.5em;
}

#menu-responsive:target {
  display: block;
}

.menu-close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding: 0.7em;
  background-color: #fff;
}

/*

Pour afficher correctement notre site sur mobile

- Point de rupture à 600px
- Réduire le padding du wrapper
- Masquer le menu "desktop" / le menu classique
- Masquer le panier + bouton se connecter
- Afficher un menu "burger"
- Faire passer les produits listés les uns en dessous des autres
- Dans le footer, faire passer les items les uns en dessous des autres et centrer

*/

@media (max-width: 670px) {
  /* Toutes les règles CSS ici seront appliquées si la largeur de l'écran < 600px */

  .wrapper {
    padding: 0.5em;
  }

  header .navigation,
  header .toolbar {
    display: none;
  }

  .burger-menu-button {
    display: block;
  }

  .product-list .product {
    float: none;
    width: 96%;
    margin-bottom: 2em;
  }

  .product-list .product::after {
    content: "";
    display: block;
    width: 50%;
    border-bottom: solid 1px #555;
    margin: 4em auto;
  }

  footer #copyright,
  footer .social {
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }

  #product-details {
    padding: 1em;
  }

  #product-details img,
  #product-details #product-infos {
    float: none;
    width: 100%;
  }

  #product-details #product-infos {
    padding: 0;
  }

  .button {
    display: block;
    margin: 0 auto 1em auto;
    font-size: 1.2em;
    text-align: center;
    width: 75%;
  }
}
